@import './base/reset';
@import './utils/mixins';
@import './layouts/gif';

#root {
    background-color: #d6693b;
    color: white;
  
    .MapContainer{
        width: 80%;
        height: 20%;
    
        .leaflet-container{
            width: 100%;
            height: 600px;
        }
    }
}

