@import './base/reset';
@import './utils/mixins';
@import './layouts/gif';

body {
    background-color: #89b0ae;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}