@import './base/reset';
@import './utils/mixins';
@import './layouts/gif';

body {
    background-color: #d6693b;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;

    #map{
        width: 70%;
        height: 600px;
    }
    
}